* {box-sizing: border-box;}

h2 {
  color: #103d10;
  text-align: center;
}
.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 1em;
    background: #cccc00;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #e6e600;
}

.btn {
    background-color: #2eb82e;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
  background-color: #248f24;
  color: white;
}

.radioo {
    align-content: center;
}
